body {
  margin: 0 0 60px;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #669;
  background-color: #DDDDFF;
}
header {
  border-top: 6px solid #66A;
  padding: 30px 0 60px;
  background-color: #CCE;
  margin-bottom: -30px;
  color: #88A;
}
h1 {
  font-size: 36px;
  letter-spacing: -2px;
  color: #448;
  margin: 0 0 10px;
}
h2 {
  font-size: 18px;
  letter-spacing: -1px;
  margin: 0;
}
h3 {
  font-size: 24px;
  letter-spacing: -1px;
  color: #448;
  padding-bottom: 5px;
  border-bottom: 1px solid #66A;
  margin: 30px 0 10px;
}
p {
  margin: 0 0 5px;
  line-height: 20px;
}
ul.feature-list {
  padding-left: 0;
}
ul.feature-list li {
  list-style: none;
  font-size: 16px;
}
ul.feature-list li img {
  vertical-align: middle;
  margin-right: 5px;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 960px;
  margin: auto;
  padding: 0 30px;
}
#target {
  margin: auto;
  border: 1px solid #888;
  width: 100%;
  height: 300px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  position: relative;
  overflow: hidden;
}
#background {
  position: absolute;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
}
pre {
  margin: 10px 0 20px;
}
pre code {
  border-radius: 5px;
  padding: 0 20px;
  font-size: 12px;
}
