html,
body {
  overflow: hidden;
}
body {
  margin: 0 0 15px;
  padding: 0;
  color: #669;
  background-color: #234;
}
header {
  padding: 15px;
  color: #FFF;
}
#github {
  position: absolute;
  top: -10px;
  right: -10px;
  border: 0;
  width: 120px;
}
h1 {
  display: inline-block;
  font-family: oswald, helvetica, arial, sans-serif;
  font-size: 40px;
  color: #FFF;
  margin: 0 0 5px;
}
h2 {
  padding-left: 20px;
  display: inline-block;
  font-size: 18px;
  margin: 0;
}
#transport {
  position: absolute;
  top: 25px;
  right: 250px;
}
#dashboard {
  position: absolute;
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 5px;
  top: 75px;
  width: 220px;
  right: 15px;
  bottom: 15px;
  background: rgba(255,255,255,0.125);
  padding: 10px;
}
.analyser {
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
}
.btn {
  border-color: #FFF;
}
.form-control {
  border-color: #FFF;
}
.page {
  margin: auto;
  padding: 0 15px;
}
.keyboard {
  position: absolute;
  left: 15px;
  right: 250px;
  bottom: 15px;
  z-index: 10;
}
#target {
  position: absolute;
  top: 75px;
  left: 15px;
  right: 250px;
  bottom: 115px;
  overflow: hidden;
}
#background {
  position: absolute;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
}